@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");

* {
  font-family: Inter, sans-serif;
}

@media (min-width: 769px) {
  body {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #faf1dc; /* Beige background */
  }

  .display {
    width: calc(100% - 20px);
    height: 80px;
    margin: 20px auto;
    padding-left: 10px;
    font-size: 60px;
    line-height: 80px;
    box-sizing: border-box;
    border: 1px solid #8b5e3b;
    border-radius: 8px;
    color: #8b5e3b;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: thin;
    text-align: left;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 0 20px;
  }

  .btn {
    font-size: 60px;
    height: 100px;
    border-radius: 8px;
    background-color: #ffdeb9;
    color: #8b5e3b;
    border: 1px solid #8b5e3b;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-double {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    height: 100px;
    gap: 5px; /* Добавляем отступы между кнопками */
  }

  .btn-backspace,
  .btn-dot {
    font-size: 40px;

    background-color: #ffd2a5;
    color: #8b5e3b;
    border: 3px solid #8b5e3b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }

  .btn-backspace {
    border-radius: 8px 0 0 0;
    background-color: #e6ae77;
    color: #814c10;
  }

  .btn-dot {
    background-color: #e6ae77;
    color: #814c10;
    border-radius: 0 8px 0 0;
  }

  .btn-clear {
    font-size: 40px;
    grid-column: span 2;
    background-color: #e6ae77;
    color: #814c10;
    border: 3px solid #8b5e3b;
    border-radius: 0 0 8px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}

@media (max-width: 330px) {
  .display {
    font-size: 40px;
    height: 60px;
    line-height: 60px;
  }

  .btn,
  .btn-backspace,
  .btn-dot,
  .btn-clear {
    font-size: 50px;
    height: 80px;
  }

  .container {
    padding: 0 10px;
  }
}
